{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Create new appointment
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <h3>Create a new appointment</h3>
        <form method= "POST" action="/create/" class = "form">
                {% csrf_token %}
                {{ form | crispy }}
                    <button type="submit", name="save" class="btn btn-success"> Create </button>
        </form>
    {% else %}
        <p style="font-size:12px;"> You are not logged in! <a href="/login">  Log in now! </a> </p>
    {% endif %}
{% endblock %}
