{% extends 'main/base.html' %}

{% block title %}
    Create new appointment
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <h3>Create Page</h3>
        <form method= "post" action="/create/" class = "form-group">
                {% csrf_token %}
                <div class = "input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="submit", name="save" class="btn btn-success"> Create New </button>
                    </div>
                    {{form.name}}
                </div>
        </form>
    {% else %}
        <p style="font-size:12px;"> You are not logged in! <a href="/login">  Log in now! </a> </p>
    {% endif %}
{% endblock %}
